body {
	font-family: "", sans-serif;
}
.content {
	margin-top: 0px;
}
header.fixed_hiding .q_logo a {
	max-height: 100px;
}
header.fixed_hiding .q_logo {
	max-height: 100px;
}
nav.main_menu > ul > li > a {
	font-family: "", sans-serif;
}
.drop_down .second .inner > ul > li > a {
	font-family: "", sans-serif !important;
}
.drop_down .second .inner > ul > li > h3 {
	font-family: "", sans-serif !important;
}
.drop_down .wide .second .inner > ul > li > h3 {
	font-family: "", sans-serif !important;
}
.drop_down .wide .second .inner > ul > li > a {
	font-family: "", sans-serif !important;
}
.drop_down .wide .second ul li ul li.menu-item-has-children > a {
	font-family: "", sans-serif !important;
}
.drop_down .wide .second .inner ul li.sub ul li.menu-item-has-children > a {
	font-family: "", sans-serif !important;
}
.drop_down .wide .second .inner > ul li.sub .flexslider ul li h5 a {
	font-family: "", sans-serif !important;
}
.drop_down .wide .second .inner > ul li .flexslider ul li h5 a {
	font-family: "", sans-serif !important;
}
.drop_down .wide .second .inner > ul li.sub .flexslider ul li h5 {
	font-family: "", sans-serif !important;
}
.drop_down .wide .second .inner > ul li .flexslider ul li h5 {
	font-family: "", sans-serif !important;
}
.header_top #lang_sel ul li ul li a {
	font-family: "", sans-serif !important;
}
.drop_down .wide .second .inner ul li.sub ul li a {
	font-family: "", sans-serif;
}
.drop_down .wide .second ul li ul li a {
	font-family: "", sans-serif;
}
.drop_down .second .inner ul li.sub ul li a {
	font-family: "", sans-serif;
}
.drop_down .wide .second ul li ul li a {
	font-family: "", sans-serif;
}
.drop_down .wide .second .inner ul li.sub .flexslider ul li .menu_recent_post {
	font-family: "", sans-serif;
}
.drop_down .wide .second .inner ul li .flexslider ul li .menu_recent_post a {
	font-family: "", sans-serif;
}
.drop_down .wide .second .inner ul li .flexslider ul li .menu_recent_post {
	font-family: "", sans-serif;
}
.drop_down .wide .second .inner ul li .flexslider ul li .menu_recent_post a {
	font-family: "", sans-serif;
}
.drop_down .icons.wide .second i {
	
}
header.scrolled nav.main_menu > ul > li > a {
	font-family: "", sans-serif !important;
}
header.scrolled.light nav.main_menu > ul > li > a {
	font-family: "", sans-serif !important;
}
header.scrolled.dark nav.main_menu > ul > li > a {
	font-family: "", sans-serif !important;
}
header.sticky nav.main_menu > ul > li > a {
	font-family: "", sans-serif !important;
}
header.sticky.light nav.main_menu > ul > li > a {
	font-family: "", sans-serif !important;
}
header.sticky.dark nav.main_menu > ul > li > a {
	font-family: "", sans-serif !important;
}
nav.mobile_menu ul li a {
	font-family: "", sans-serif;
}
nav.mobile_menu ul li h3 {
	font-family: "", sans-serif;
}
h1 {
	font-family: "", sans-serif;
}
.title h1 {
	font-family: "", sans-serif;
}
.title h1 {
	font-family: "", sans-serif;
}
h2 {
	font-family: "", sans-serif;
}
h2 a {
	font-family: "", sans-serif;
}
h3 {
	font-family: "", sans-serif;
}
h3 a {
	font-family: "", sans-serif;
}
h4 {
	font-family: "", sans-serif;
}
h4 a {
	font-family: "", sans-serif;
}
h5 {
	font-family: "", sans-serif;
}
h5 a {
	font-family: "", sans-serif;
}
.q_icon_with_title .icon_text_holder h5.icon_title {
	font-family: "", sans-serif;
}
h6 {
	font-family: "", sans-serif;
}
h6 a {
	font-family: "", sans-serif;
}
p {
	font-family: "", sans-serif;
}
.filter_holder ul li span {
	
}
blockquote h5 {
	
}
.q_social_icon_holder i.simple_social {
	
}
.widget_nav_menu.header-widget ul.menu li a {
	
}
.side_menu a {
	
}
.side_menu li {
	
}
.side_menu span {
	
}
.side_menu p {
	
}
.side_menu .widget_rss.widget li a.rsswidget {
	
}
.side_menu #wp-calendar caption {
	
}
.side_menu #wp-calendar th {
	
}
.side_menu #wp-calendar td {
	
}
aside .widget #lang_sel_list li a {
	
}
aside .widget #lang_sel li a {
	
}
aside .widget #lang_sel_click li a {
	
}
section.side_menu #lang_sel_list li a {
	
}
section.side_menu #lang_sel li a {
	
}
section.side_menu #lang_sel_click li a {
	
}
footer #lang_sel_list li a {
	
}
footer #lang_sel li a {
	
}
footer #lang_sel_click li a {
	
}
footer .lang_sel_list_horizontal#lang_sel_list a {
	
}
footer .lang_sel_list_vertical#lang_sel_list a {
	
}
.side_menu .lang_sel_list_horizontal#lang_sel_list a {
	
}
.side_menu .lang_sel_list_vertical#lang_sel_list a {
	
}
#lang_sel_footer a {
	
}
.header_top #lang_sel > ul > li > a {
	
}
.header_top #lang_sel_click > ul > li > a {
	
}
footer #lang_sel ul li a {
	
}
footer #lang_sel ul ul a {
	
}
footer #lang_sel_click ul li a {
	
}
footer #lang_sel_click ul ul a {
	
}
footer #lang_sel_click ul ul a span {
	
}
section.side_menu #lang_sel ul li a {
	
}
section.side_menu #lang_sel ul ul a {
	
}
section.side_menu #lang_sel ul ul a:visited {
	
}
section.side_menu #lang_sel_click > ul > li > a {
	
}
section.side_menu #lang_sel_click ul ul a {
	
}
section.side_menu #lang_sel_click ul ul a:visited {
	
}
.q_message .message_text {
	font-family: "", sans-serif;
}
.qbutton {
	font-family: "", sans-serif;
}
.medium.qbutton {
	font-family: "", sans-serif;
}
#submit_comment {
	font-family: "", sans-serif;
}
.load_more a {
	font-family: "", sans-serif;
}
.blog_load_more_button a {
	font-family: "", sans-serif;
}
.post-password-form input[type='submit'] {
	font-family: "", sans-serif;
}
input.wpcf7-submit.wpcf7-form-control {
	font-family: "", sans-serif;
}
input:not([disabled]).wpcf7-submit.wpcf7-form-control {
	font-family: "", sans-serif;
}
.vertical_menu_area {
	text-align: left;
}
